@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

#header {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  z-index: 1;
}

#profile-pic {
  width: 100%;
  display: block;
}

#cause-scroll-div {
  position: relative;
  margin: 0 auto;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

@keyframes navExpansion {
  0% {
    width: 55%;
  }
  100% {
    width: 100%;
  }
}

#nav-bar {
  width: 100%;
  background-color: #f3f3f3;
  position: absolute;
  bottom: 0;
}

.hidden {
  display: none;
}
